.text-body {
    height: 20rem;
    width: 30rem;
}

.one-entry-container {
    max-height: 10rem;
    line-height: 1.5em;
    max-width: 50rem;
    overflow: hidden;
    /* word-wrap: normal; */
    /* line-break: loose; */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    line-clamp: 5;
    border-style: outset;
    margin: 5px;
    /* content: "/n"; */
    white-space: pre-wrap;
    font-family: monospace;
}

.one-entry-container:hover {
    background-color: #ffd700;
}

.input-box {
    margin: 1em;
    padding-left: 10px;
    padding-right: 10px;
}

.history-section {
    margin: 1em;
    padding-left: 10px;
    padding-right: 10px;
}

.input-box-and-history-section {
    display: flex;
}
